@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgb(167, 65, 141), rgb(36, 112, 199));
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 8vh;
    margin: 0;
    padding-top: 45%;
    padding-bottom: 45%;
}

